docs/workflow-examples/Batch Updates.json
{
	"name": "Batch Updates",
	"nodes": [
		{
			"parameters": {
				"rule": {
					"interval": [{}]
				}
			},
			"type": "n8n-nodes-base.scheduleTrigger",
			"typeVersion": 1.3,
			"position": [0, 0],
			"id": "ee20bb76-80f6-4ee9-b376-882d5e16a00a",
			"name": "every night"
		},
		{
			"parameters": {
				"resource": "App",
				"operation": "list",
				"app": {
					"__rl": true,
					"value": "da3aa3ae-4b6b-4398-a4a8-ee8def827876",
					"mode": "list",
					"cachedResultName": "WordPress"
				}
			},
			"type": "CUSTOM.mittwald",
			"typeVersion": 1,
			"position": [208, 0],
			"id": "386ef298-d2aa-46db-b444-01876e830b1a",
			"name": "List all installed apps",
			"credentials": {
				"mittwaldApi": {
					"id": "vOb34VeTSX96I3Co",
					"name": "mittwald account"
				}
			}
		},
		{
			"parameters": {
				"resource": "App",
				"operation": "updateInstallationVersions",
				"appInstallation": {
					"__rl": true,
					"value": "={{ $json.id }}",
					"mode": ""
				},
				"version": {
					"__rl": true,
					"value": "7238cf84-0bd8-48bf-b7c7-2c3202ea4035",
					"mode": "list",
					"cachedResultName": "6.9.1"
				},
				"systemSoftware": {
					"mappingMode": "defineBelow",
					"value": {},
					"matchingColumns": [],
					"schema": [
						{
							"id": "2390ee6c-0f09-4781-bb11-a9359c17a0d4",
							"displayName": "composer 2.5.8",
							"type": "string",
							"default": "2.5.8",
							"required": false,
							"defaultMatch": false,
							"display": true
						},
						{
							"id": "9c55807a-f3b4-49f4-8849-8c7923a1225f",
							"displayName": "wp-cli 2.9.0",
							"type": "string",
							"default": "2.9.0",
							"required": false,
							"defaultMatch": false,
							"display": true
						},
						{
							"id": "c42293f3-c2df-40d9-a5c9-4fa2ffdc36aa",
							"displayName": "php 8.3.26",
							"type": "string",
							"default": "8.3.26",
							"required": false,
							"defaultMatch": false,
							"display": true
						},
						{
							"id": "e3668337-e473-4b01-a334-52ff042ede9d",
							"displayName": "mysql 8.0.28",
							"type": "string",
							"default": "8.0.28",
							"required": false,
							"defaultMatch": false,
							"display": true
						}
					],
					"attemptToConvertTypes": false,
					"convertFieldsToString": false
				}
			},
			"type": "CUSTOM.mittwald",
			"typeVersion": 1,
			"position": [432, 0],
			"id": "16bbea97-161a-41e7-b0c7-9b937bc028f5",
			"name": "Update software versions",
			"credentials": {
				"mittwaldApi": {
					"id": "vOb34VeTSX96I3Co",
					"name": "mittwald account"
				}
			}
		}
	],
	"pinData": {},
	"connections": {
		"every night": {
			"main": [
				[
					{
						"node": "List all installed apps",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"List all installed apps": {
			"main": [
				[
					{
						"node": "Update software versions",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"active": false,
	"settings": {
		"executionOrder": "v1",
		"binaryMode": "separate",
		"availableInMCP": false
	},
	"versionId": "b24d6f2d-18c0-4d23-be13-c85ac0105da0",
	"meta": {
		"templateCredsSetupCompleted": true,
		"instanceId": "05de660234c38e407b9b1882d63b5ad9973ad2a79c2969d8535c575c8f7e5eb3"
	},
	"id": "aXH6-ExKfcyaVyRg8mIlr",
	"tags": []
}
