docs/workflow-examples/project onboarding example.json
{
  "name": "project onboarding example",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Wordpress Starter Bootstrap",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Projekt Name"
            },
            {
              "fieldLabel": "Domain Name"
            },
            {
              "fieldLabel": "Admin Password",
              "fieldType": "password"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -208,
        0
      ],
      "id": "4efe3d55-7ccb-4f68-a8ed-902096151001",
      "name": "On form submission",
      "webhookId": "2710ef51-debc-46d4-95f4-ec37f4c66677"
    },
    {
      "parameters": {
        "resource": "Project",
        "operation": "create",
        "server": {
          "__rl": true,
          "value": "0e2fdd85-a788-402a-94f6-5002e1ef7015",
          "mode": "list",
          "cachedResultName": "Olymp (s-piryq0)"
        },
        "description": "={{ $json['Projekt Name'] }}"
      },
      "type": "CUSTOM.mittwald",
      "typeVersion": 1,
      "position": [
        48,
        0
      ],
      "id": "a4c771d9-143c-4eeb-bf07-8eb9f1e7aaf1",
      "name": "Create a project on a server",
      "credentials": {
        "mittwaldApi": {
          "id": "vOb34VeTSX96I3Co",
          "name": "mittwald account"
        }
      }
    },
    {
      "parameters": {
        "resource": "App",
        "operation": "install",
        "project": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": ""
        },
        "app": {
          "__rl": true,
          "value": "da3aa3ae-4b6b-4398-a4a8-ee8def827876",
          "mode": "list",
          "cachedResultName": "WordPress"
        },
        "version": {
          "__rl": true,
          "value": "b62ef321-28c8-4e28-9813-d48c9e8456d2",
          "mode": "list",
          "cachedResultName": "6.2.2"
        },
        "description": "Test Wordpress",
        "installationPath": "wordpress-path",
        "versionConfig": {
          "mappingMode": "defineBelow",
          "value": {
            "host": "=https://{{ $('On form submission').item.json['Domain Name'] }}",
            "site_title": "={{ $('On form submission').item.json['Projekt Name'] }}",
            "admin_user": "admin",
            "admin_pass": "={{ $('On form submission').item.json['Admin Password'] }}",
            "admin_email": "admin@example.com"
          },
          "matchingColumns": [],
          "schema": [
            {
              "displayName": "host (requires protocol, e.g., https://)",
              "display": true,
              "required": true,
              "id": "host",
              "defaultMatch": false,
              "type": "string"
            },
            {
              "displayName": "site_title (e.g., tab name in your browser)",
              "display": true,
              "required": true,
              "id": "site_title",
              "defaultMatch": false,
              "type": "string"
            },
            {
              "displayName": "admin_user",
              "display": true,
              "required": true,
              "id": "admin_user",
              "defaultMatch": false,
              "type": "string"
            },
            {
              "displayName": "admin_pass",
              "display": true,
              "required": true,
              "id": "admin_pass",
              "defaultMatch": false,
              "type": "string"
            },
            {
              "displayName": "admin_email",
              "display": true,
              "required": true,
              "id": "admin_email",
              "defaultMatch": false,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "CUSTOM.mittwald",
      "typeVersion": 1,
      "position": [
        256,
        0
      ],
      "id": "a536a192-0b0b-488e-a2c4-0527fcd6b925",
      "name": "Install an app",
      "credentials": {
        "mittwaldApi": {
          "id": "vOb34VeTSX96I3Co",
          "name": "mittwald account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Domain",
        "operation": "create",
        "project": {
          "__rl": true,
          "value": "={{ $('Create a project on a server').item.json.id }}",
          "mode": ""
        },
        "fullName": "={{ $('On form submission').item.json['Domain Name'] }}",
        "targetInstallation": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": ""
        }
      },
      "type": "CUSTOM.mittwald",
      "typeVersion": 1,
      "position": [
        464,
        0
      ],
      "id": "9bbe1b6a-fc30-49e5-80e0-2e2881f72a52",
      "name": "Create and link subdomain",
      "credentials": {
        "mittwaldApi": {
          "id": "vOb34VeTSX96I3Co",
          "name": "mittwald account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Create a project on a server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a project on a server": {
      "main": [
        [
          {
            "node": "Install an app",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Install an app": {
      "main": [
        [
          {
            "node": "Create and link subdomain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d5c707bd-c1d9-4b8a-b116-6f4a8de165b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05de660234c38e407b9b1882d63b5ad9973ad2a79c2969d8535c575c8f7e5eb3"
  },
  "id": "09gzjQhH4OdBsoDadmnKu",
  "tags": []
}